<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品詳細ページ</title>
</head>
<body>
<h1>
    商品詳細
</h1>
<table>
    <tr>
        <td>id：</td>
        <td th:text="${product.id}"></td>
    </tr>
    <tr>
        <td>商品名：</td>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <td>値段：</td>
        <td th:text="${product.price}"></td>
    </tr>
</table>
<a th:href="'/product/update/' + ${product.id}"><button>修正</button></a>
<a th:href="'/delete/' + ${product.id}"><button>削除</button></a>
</body>
</html>